body {
    --color-primary: #03d7fc;
    --color-primary-dark: #0370ff;
    --color-secondary: #0331ff;
    --color-error: #ff0000;
    --color-success: #00ff04;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./images/abstract-surface-textures-white-concrete-stone-wall_74190-8189.png);
    background-size: cover;
}
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: var(--color-primary);

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;

}